*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}

nav{
    flex: 1;
    text-align: right;
    margin: 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    padding-right: 15px;
}

nav ul li a{
    text-decoration: none;
    color:#000;
    font-size: 13px;
    width: 180px;
    padding: 12px;
    background: #fff;
    outline: none;
    
}

nav ul li a:hover{
    transform: translateY(4px);
    background: transparent;
    border: #fff solid 1px;
    border-radius: 20px;
    color: #fff;
    
}


.navbar{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
    background: transparent;
    transition: 0.5s;
    background-color: #228b22;
    border: #fff solid 2px;
    margin-left: 2em;
    margin-right: 2em;
    position: static;

}

.logo{
    text-decoration: none;
    color:#000;
    font-size: 2em;
    padding: 12px;
    color: #fff;
}


.about-div{
    width: 450px;
    height: auto;
    margin-left: 14%;
}

.about-pic{
    border: #eee solid 10px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    margin: 1em;
    font-size: 50px;
}

.about-content{
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    padding-bottom: 25px;

}

.flex{
    display: flex;
}


button{
    width: 250px;
    height: 60px;
    font-size: larger;
    font-family: Arial;
    margin: 2em;
    
}


