*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}

nav{
    flex: 1;
    text-align: right;
    margin: 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    padding-right: 15px;
}

nav ul li a{
    text-decoration: none;
    color:#000;
    font-size: 13px;
    width: 180px;
    padding: 12px;
    background: #fff;
    outline: none;

}

nav ul li a:hover{
    transform: translateY(4px);
    background: transparent;
    border: #fff solid 1px;
    border-radius: 20px;
    color: #fff;

}


.navbar{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
    background: transparent;
    transition: 0.5s;
    background-color: #228b22;
    border: #fff solid 2px;
    margin-left: 2em;
    margin-right: 2em;
    position: static;

}

.logo{
    text-decoration: none;
    color:#000;
    font-size: 2em;
    padding: 12px;
    color: #fff;
}

h1{
    text-align: center;
    margin: 1em;
    font-size: 50px;
}


.contact-Div{
    margin-right: 2.5em;
    padding: 20px;
    float: right;
}

#name{
    width: 600px;
    height: 50px;
    background-color: #eee;
    color: #000;
    border: #eee solid 1px;
    font-family: 'Times New Roman';
    letter-spacing: 1.2px;
    line-height: 30px;
}

#email{
    width: 600px;
    height: 50px;
    background-color: #eee;
    color: #000;
    border: #eee solid 1px;
    font-family: 'Times New Roman';
    letter-spacing: 1.2px;
    line-height: 30px;
}

textarea{
    width: 600px;
    height: 250px;
    background-color: #eee;
    color: #000;
    border: #eee solid 1px;
    font-family: 'Times New Roman';
    letter-spacing: 1.2px;
    line-height: 30px;
}

img{
    float: left;
    margin: 5em;
    width: 400px;
    height: 350px;
}

button{
    width: 250px;
    height: 60px;
    font-size: larger;
    font-family: Arial;
    margin-top: 2em;    
    font-family: Arial;
    font-size: 22px;
}



